
.floatlabel-container {
  position: relative;
}

.floatlabel-message {
  display: block;
}

.floatlabel-label {
  display: none;
  position: absolute;
  left: 0;
  top: 0;

  font-size: 0.5em;

  opacity: 0;
  transition: transform 0.2s, opacity 0.2s;
}

.floatlabel-active .floatlabel-label {
  display: block;
  opacity: 1;
}

.floatlabel-invalid {
  input {
    background: red;
  }
}

input {
  border: none;
  padding: 7.5px 10px;
  margin: 0.5em 0;
}
